<ol class="post-list">
  {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
<<<<<<< HEAD
          <a href="/post/{{id}}">{{post.title}}</a>
=======
          <a href="google.com">{{post.title}}</a>
>>>>>>> 2dec411c4f757f1237db56992570b32349b1c423
          
        </div>
        <div class="meta">
          {{post.post_content}}
        </div>
        <div class="meta">
          {{post.category}}
        </div>
      </article>
    </li>
  {{/each}}
</ol>
